<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("button").click(function(){
   $.ajax(
                {
                    url:'http://localhost:8080/exampleone/m33',
                    type:'post',
                    dataType: "jsonp",
					jsonpCallback: "showData",
					success: function (response) {
						console.log(response);
						$("#div1").html(response.name);
					} 
                }
            );
  });
});
</script>
</head>
<body>

<div id="div1"><h2>使用 jQuery AJAX 修改该文本</h2></div>
<button>获取外部内容</button>

</body>
</html>